PHP_BIN=/usr/bin/php8.3
SOURCE_DIR=/home/master/moodle-1
SITES_ROOT=/home/master/moodle-sites
DATA_ROOT=/home/master/moodledata
FORCE_REINSTALL=0

DOMINIO_1=institutotecnicosuperiordelnorte.consultoraonbusiness.com
DOMINIO_2=cepec.consultoraonbusiness.com
DOMINIO_3=sensorium.consultoraonbusiness.com
DOMINIO_4=institutotecnicosuperiorcem.consultoraonbusiness.com

DB_TYPE=mariadb
DB_HOST=localhost
DB_PREFIX=mdl_

DB_NAME_1=master_itn
DB_NAME_2=master_cepec
DB_NAME_3=master_sensor
DB_NAME_4=master_itcem

DB_USER_1=master_itn_u
DB_USER_2=master_cepec_u
DB_USER_3=master_sensor_u
DB_USER_4=master_itcem_u

DB_PASS_1=CAMBIA_DB_PASS_ITN
DB_PASS_2=CAMBIA_DB_PASS_CEPEC
DB_PASS_3=CAMBIA_DB_PASS_SENSOR
DB_PASS_4=CAMBIA_DB_PASS_ITCEM

ADMIN_USER_1=admin
ADMIN_USER_2=admin
ADMIN_USER_3=admin
ADMIN_USER_4=admin

ADMIN_PASS_1=CAMBIA_ADMIN_PASS_ITN
ADMIN_PASS_2=CAMBIA_ADMIN_PASS_CEPEC
ADMIN_PASS_3=CAMBIA_ADMIN_PASS_SENSOR
ADMIN_PASS_4=CAMBIA_ADMIN_PASS_ITCEM

ADMIN_EMAIL_1=admin@institutotecnicosuperiordelnorte.consultoraonbusiness.com
ADMIN_EMAIL_2=admin@cepec.consultoraonbusiness.com
ADMIN_EMAIL_3=admin@sensorium.consultoraonbusiness.com
ADMIN_EMAIL_4=admin@institutotecnicosuperiorcem.consultoraonbusiness.com

FULLNAME_1='Instituto Tecnico Superior del Norte'
FULLNAME_2=CEPEC
FULLNAME_3=Sensorium
FULLNAME_4='Instituto Tecnico Superior CEM'

SHORTNAME_1=ITN
SHORTNAME_2=CEPEC
SHORTNAME_3=SENSORIUM
SHORTNAME_4=ITSCEM